<div class=" py-20">
  <div class="container mx-auto px-4">
      <div class="text-center mx-auto mb-12 max-w-4xl animate-fadeInUp">
          <h4 class="text-pink-500 font-semibold text-xl mb-2">Our Services</h4>
          <h1 class="text-4xl md:text-5xl font-bold mb-4">What We Offer</h1>
          <p class="text-gray-600 text-xl">We provide a range of educational services designed to help you succeed, from structured courses to personalized learning paths.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 ">
          <div class="bg-white rounded-lg p-6 shadow-2xl animate-fadeInUp" style="animation-delay: 0.1s;">
              <div class="bg-gray-100 rounded-full p-4 mb-6 inline-block">
                  <i class="fas fa-chalkboard-teacher text-5xl text-blue-600"></i>
              </div>
              <h4 class="text-3xl font-semibold mb-4">Interactive Courses</h4>
              <p class="text-gray-600 text-xl">Engage in hands-on learning with our interactive courses designed to enhance your understanding and retention.</p>
          </div>
          <div class="bg-white rounded-lg p-6 shadow-2xl animate-fadeInUp" style="animation-delay: 0.3s;">
              <div class="bg-gray-100 rounded-full p-4 mb-6 inline-block">
                  <i class="fas fa-graduation-cap text-5xl text-blue-600"></i>
              </div>
              <h4 class="text-3xl font-semibold mb-4">Expert Instructors</h4>
              <p class="text-gray-600 text-xl">Learn from industry experts who bring real-world experience and insights to the classroom.</p>
          </div>
          <div class="bg-white rounded-lg p-6 shadow-2xl animate-fadeInUp" style="animation-delay: 0.5s;">
              <div class="bg-gray-100 rounded-full p-4 mb-6 inline-block">
                  <i class="fa fa-laptop-code text-5xl text-blue-600"></i>
              </div>
              <h4 class="text-3xl font-semibold mb-4">Flexible Learning</h4>
              <p class="text-gray-600 text-xl">Access our tutorials and resources at any time, from anywhere, to fit your busy schedule.</p>
          </div>
          <div class="bg-white rounded-lg p-6 shadow-2xl animate-fadeInUp" style="animation-delay: 0.7s;">
              <div class="bg-gray-100 rounded-full p-4 mb-6 inline-block">
                  <i class="fas fa-book-reader text-5xl text-blue-600"></i>
              </div>
              <h4 class="text-3xl font-semibold mb-4">Resource Library</h4>
              <p class="text-gray-600 text-xl">Access a wealth of resources, including eBooks, video tutorials, and practice exams.</p>
          </div>
      </div>
  </div>
</div>
