<div class="  h-96 mt-5   bg-gray-100 bg-cover flex  flex-col justify-center items-center "  style="background-image: url(https://media.istockphoto.com/id/1401859866/vector/abstract-composed-of-pink-curves.jpg?s=612x612&w=0&k=20&c=-tIt7hFPTnAl7xDncC3mZc0kIAcUfS8DGqI-f-11N30=);">
  <h1 class="font-bold text-5xl text-gray-700 mb-3">{{title_name}}</h1>
  <p class="font-semibold"> Home / Pages / <span class="text-pink-500"> {{title_name}} </span></p>
 </div><div class=" hero-about h-96 mt-5 hidden  bg-gray-100 bg-cover  flex-col justify-center items-center "  style="background-image: url(https://static.vecteezy.com/system/resources/thumbnails/032/422/097/small/abstract-illustration-background-design-photo.jpg);">
   <h1 class="font-bold text-7xl text-gray-700 mb-3">About Us</h1>
  <p class="font-semibold">Home / Pages / <span class="text-pink-500"> About Us </span></p>
 </div>
