<div class=" min-h-screen w-80">
    <div>
        <ul class="space-y-4 flex flex-col items-center my-3 font-semibold text-lg text-pink-500 mx-auto">
            <li>
              <a routerLink="py-intro" class="hover:bg-pink-500 hover:text-white py-2 px-10 ">Python Introduction</a>
            </li>
            <li>
              <a routerLink="py-syntax"  class="hover:bg-pink-500 hover:text-white py-2 px-10" >Python Syntax</a>
            </li>
            <li>
              <a routerLink="py-variables"  class="hover:bg-pink-500 hover:text-white py-2 px-10">Python variable</a>
            </li>
            <li>
              <a routerLink="py-data-types"  class="hover:bg-pink-500 hover:text-white py-2 px-10">Python Data Type</a>
            </li>
            <li>
              <a routerLink="py-operator"  class="hover:bg-pink-500 hover:text-white py-2 px-10">Python Operator</a>
            </li>
            <li>
              <a routerLink="py-functions"  class="hover:bg-pink-500 hover:text-white py-2 px-10">Python Functions</a>
            </li>
            <li>
              <a routerLink="js-events"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Events</a>
            </li>
            <li>
              <a routerLink="js-arrays"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Arrays</a>
            </li>
            
            <li>
              <a routerLink="js-loops"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Loops</a>
            </li>
            <li>
              <a routerLink="js-conditions"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Conditions </a>
            </li>
            <li>
              <a routerLink="js-manipulation"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS DOM Manipulation</a>
            </li>
            <li>
              <a routerLink="js-ES6"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS ES6 Features</a>
            </li>
            <li>
                <a routerLink="js-JSON"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS JSON</a>
              </li>
              <li>
                <a routerLink="js-error"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Error Handling</a>
              </li>
              <li>
                <a routerLink="js-promises"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Promises</a>
              </li>
              <li>
                <a routerLink="js-async"  class="hover:bg-pink-500 hover:text-white py-2 px-10">JS Async/Await</a>
              </li>

          </ul>
    </div>
</div>
