<div class="hero-header overflow-hidden px-5 py-10 md:py-24">
    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row items-center gap-10">
        <!-- Left side with text content -->
        <div class="lg:w-1/2 md:px-4" [@fadeInLeft]>
          <h1 class="md:text-5xl text-4xl lg:text-6xl font-bold text-gray-500 mb-4">
            Enhance Your Skills with Expert-Led Courses
          </h1>
          <p class="text-xl text-gray-600 mb-6">
            Join thousands of learners and access top-quality tutorials across various subjects, from technology to personal development.

          </p>
          
          <a routerLink="/about" 
             class="inline-block bg-pink-600 text-white font-semibold py-3 px-6 rounded-full hover:bg-pink-700 transition duration-300"
             [@buttonHover]="buttonState"
             (mouseenter)="onButtonHover()"
             (mouseleave)="onButtonLeave()">
            Get Started
          </a>
        </div>
        
        <!-- Right side with image -->
        <div class="lg:w-1/2 relative" [@fadeInRight]>
          <div class="rotate-img" [@rotateIn]>
            <img 
              src="https://psdchallenge.psd.gov.sg/images/default-source/challenge-library/ideas/work-better/learn-something-new-in-5-minutes/learning-720x400.jpg" 
              alt="Education" 
              class="w-full h-auto rounded-lg shadow-lg">
            <div class="absolute inset-0 bg-blue-200 opacity-20 rounded-lg "></div>
          </div>
        </div>
      </div>
    </div>
  </div>