<app-page-hero-sec title_name="Our Courses"></app-page-hero-sec>


<div class="container mx-auto px-4 py-12">
  <div class="max-w-4xl mx-auto text-center mb-12 animate-fadeInUp">
      <h4 class="text-pink-500 text-xl font-bold mb-6">Our Tutorials</h4>
      <h1 class="text-6xl text-gray-700 font-bold mb-6">What We Offer</h1>
      <p class="text-gray-600">We provide a range of educational tutorials designed to help you succeed, from structured courses to personalized learning paths.</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 justify-center">
      <div class="animate-fadeInUp" style="animation-delay: 0.1s;">
          <div class="bg-white rounded-lg shadow-md p-6 text-center">
              <div class="inline-block bg-gray-100 rounded-full p-6 mb-6">
                  <i class="fas fa-code text-5xl text-gray-600"></i>
              </div>
              <div>
                  <h4 class="text-xl font-semibold mb-4">HTML</h4>
                  <p class="text-gray-600 mb-6">
                      HTML is the standard markup language for creating web pages. Learn how to structure content.
                  </p>
                  <a routerLink="/app-html-tutor" class="text-white rounded-full py-2 px-6 bg-pink-700 hover:bg-pink-500  transition duration-300">Learn HTML</a>
              </div>
          </div>
      </div>
      <div class="animate-fadeInUp" style="animation-delay: 0.3s;">
          <div class="bg-white rounded-lg shadow-md p-6 text-center">
              <div class="inline-block bg-gray-100 rounded-full p-6 mb-6">
                  <i class="fas fa-paint-brush text-5xl text-gray-600"></i>
              </div>
              <div>
                  <h4 class="text-xl font-semibold mb-4">CSS</h4>
                  <p class="text-gray-600 mb-6">
                      CSS is used to control the style and layout of web pages. Master the art of web design with CSS.
                  </p>
                  <a routerLink="/app-css-tutor" class="text-white rounded-full py-2 px-6 bg-pink-700 hover:bg-pink-500  transition duration-300" href="/css-tutorial">Learn CSS</a>
              </div>
          </div>
      </div>
      <div class="animate-fadeInUp" style="animation-delay: 0.5s;">
          <div class="bg-white rounded-lg shadow-md p-6 text-center">
              <div class="inline-block bg-gray-100 rounded-full p-6 mb-6">
                  <i class="fas fa-laptop-code text-5xl text-gray-600"></i>
              </div>
              <div>
                  <h4 class="text-xl font-semibold mb-4">JavaScript</h4>
                  <p class="text-gray-600 mb-6">
                      JS brings interactivity to your web pages and make dynamic and responsive websites.
                  </p>
                  <a routerLink="/app-js-tutor" class="text-white rounded-full py-2 px-6 bg-pink-700 hover:bg-pink-500  transition duration-300" href="/javascript-tutorial">Learn JavaScript</a>
              </div>
          </div>
      </div>
      <div class="animate-fadeInUp" style="animation-delay: 0.7s;">
          <div class="bg-white rounded-lg shadow-md p-6 text-center">
              <div class="inline-block bg-gray-100 rounded-full p-6 mb-6">
                  <i class="fab fa-python text-5xl text-gray-600"></i>
              </div>
              <div>
                  <h4 class="text-xl font-semibold mb-4">Python</h4>
                  <p class="text-gray-600 mb-6">
                      Python is a  programming language used in web development, data science
                  </p>
                  <a routerLink="/app-python-tutor" class=" text-white rounded-full py-2 px-6 bg-pink-700 hover:bg-pink-500 transition duration-300" href="/python-tutorial">Learn Python</a>
              </div>
          </div>
      </div>
  </div>
</div>

